<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="mybatis-config.properties"></properties>

    <environments default="development">
        <environment id="development">
            <transactionManager type="${mybatis.transactionManager.type}"/>
            <dataSource type="${mybatis.dataSource.type}">
                <property name="driver" value="${mybatis.dataSource.driver}"/>
                <property name="url" value="${mybatis.dataSource.url}"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
</configuration>